# PowerShell cmdlets

To use the PuppetBolt PowerShell module, see the [installation
documentation](bolt_installing.md#puppetbolt-powershell-module).

## Cmdlet syntax

Bolt PowerShell cmdlets follow a verb-noun convention.

To view a full list of available cmdlets, use the `Get-Command` cmdlet:

```shell
Get-Command -Module PuppetBolt
```

## Cmdlets

These PowerShell cmdlets are available in the Bolt PowerShell module.

<% @commands.each do |command| %>
### <%= command[:cmdlet] %>

<%= command[:description] %>

<table class="table">
  <thead>
   <tr>
        <th>Option</th>
        <th>Description</th>
        <th align="center">Mandatory?</th>
    </tr>
  </thead>
  <tbody>
   <% command[:options].each do |option| -%>
      <tr>
        <td><code>-<%= option[:name] -%><%= option[:arg] %></code></td>
        <td><%= option[:help_msg].gsub("<", "&lt;").split("\n").join('<p>')%></td>
        <td align="center"><%= option[:mandatory] ? '✓' : '' %></td>
     </tr>
   <% end %>
  </tbody>
</table>
<% end %>
