# *nix shell commands

## Command syntax

Bolt shell commands follow a noun-verb convention.

To view a full list of
available commands, use the `bolt help` command:

```shell
bolt help
```

## Commands

These subcommands, actions, and options are available for Bolt.

<% @commands.each do |key, val| %>
### <%= key %>

<%= val[:desc] %>

**Usage**

```bash
<%= val[:usage] %>
```

<table class="table">
  <thead>
    <tr>
     <th>Option</th>
     <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% val[:options].each do |option| -%>
    <tr>
        <td><% if option[:short] %><code><%= option[:short] %></code>, <% end -%><code><%= option[:long] -%><%= option[:arg] %></code></td>
        <td><%= option[:desc]%></td>
    </tr>   
  <% end %>
  </tbody>
</table>
<% end %>

